@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans overflow-x-hidden;
    }
    .h1 {
        @apply text-h1 text-white font-semibold -tracking-[0.01];
    }
    .h2 {
        @apply text-h2 text-black1 font-semibold;
    }
    .h3 {
        @apply text-h3 text-black2 font-semibold;
    }
    .title {
        @apply text-title text-orange font-semibold tracking-[0.17];
    }
    .p {
        @apply text-p text-greyText font-light;
    }
}

.mask-gradient {
  mask: linear-gradient(to top, transparent, black 40%);
}

.mask-gradient-sm {
  mask: linear-gradient(to top, transparent, black 10%);
}

.swiper-button-prev.custom-button,
.swiper-button-next.custom-button {
  content: none !important;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #e2e8f0; /* gray-200 */
}

.swiper-button-prev.custom-button {
  left: -25px; /* Ajuster la position selon vos besoins */
}

.swiper-button-next.custom-button {
  right: -25px; /* Ajuster la position selon vos besoins */
}
/* Assurez-vous de cibler directement les pseudo-éléments */
.swiper-button-prev.custom-button::after,
.swiper-button-next.custom-button::after {
  content: none !important;
}
